In [1]:
print(1+1)

2

In [2]:
age = 32
if age>18:
    print("you are an adult")

print("Hello, world!")

you are an adult
Hello, world!

In [3]:
x=5;y=5;z=x+y
z

10

In [4]:
name = "25"
age = int(name)
print(age)

25

In [5]:
h = 6.99
he = int(h)

print(he)

6

In [6]:
age = input("Enter")
print(age)

5

In [7]:
number1 = float(input("Number 1: "))
number2 = float(input("Number 2: "))
sum = number1 + number2
diff = number1 - number2
multi = number1*number2
div = number1/number2
print("Sum:",sum)
print("difference:",diff)
print("multi:",multi)
print("div:",div)

Sum: 10.0
difference: 0.0
multi: 25.0
div: 1.0

In [8]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [9]:
count = 0

while(count <= 50):
    if(count%2 == 0):
        print(count)
    count += 1

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [10]:
for i in range(3):
    for j in range(2):
        print(f"i is : {i} and j is : {j}")

i is : 0 and j is : 0
i is : 0 and j is : 1
i is : 1 and j is : 0
i is : 1 and j is : 1
i is : 2 and j is : 0
i is : 2 and j is : 1

In [11]:
for i in range(1,101):
    if(i>1):
        for j in range(2,i):
            if(i%j == 0):
                break
        else:
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [12]:
list = [1,"hello", 3.14, True]

In [13]:
for i in list:
    print(i)

1
hello
3.14
True

In [14]:
print(list[-1:-5:-1])

[True, 3.14, 'hello', 1]

In [15]:
list.append("banana")
list.append("banana")
print(list)
list.remove("banana")
print(list)

[1, 'hello', 3.14, True, 'banana', 'banana']
[1, 'hello', 3.14, True, 'banana']

In [16]:
print(list)
list.remove("banana")
print(list)

[1, 'hello', 3.14, True, 'banana']
[1, 'hello', 3.14, True]

In [17]:
list.insert(1,"apple")
print(list)

[1, 'apple', 'hello', 3.14, True]

In [19]:
for i,j in enumerate(list):
    print(i,j)

0 1
1 apple
2 hello
3 3.14
4 True

In [20]:
 square = [num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
square2 = [num**2 for num in range(10) if num%2 == 0]
print(square2)

[0, 4, 16, 36, 64]

In [22]:
lst1 = [1,2,3,4]
lst2 = ['a','b','c','d']

pair = [(i,j) for i in lst1 for j in lst2]
print(pair)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]

###Tuple

In [23]:
##packed tuple
packed_tuple = 1,"Hello",True
print(packed_tuple)

(1, 'Hello', True)

In [24]:
##unpacked tuple
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
True

In [25]:
nestedTuple = ((1,2,3),(4,5,6),(7,8,9))

for subTuple in nestedTuple:
    for val in subTuple:
        print(val,end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [26]:
def all(*args): 
    for i in args:  # Iterates over all arguments passed
        print(i)    # Prints each argument

all(1, 2, 3, 4, 5, 6)  # Function call with multiple arguments

1
2
3
4
5
6

In [27]:
def func(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")


func(name="sangam",age=22, city="Varanasi")

name:sangam
age:22
city:Varanasi

In [28]:
def fun(*args, **kwargs):
    for i in args:
        print(f"positional arguments : {i}")

    for key,value in kwargs.items():
        print(f"keyword arguments : {key}:{value}")

fun(1,2,3,4,5, name="sangam", age=22, city="Varanasi")

positional arguments : 1
positional arguments : 2
positional arguments : 3
positional arguments : 4
positional arguments : 5
keyword arguments : name:sangam
keyword arguments : age:22
keyword arguments : city:Varanasi

In [29]:
def is_strong(password):
    if len(password) < 8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char in '!@#$%^&*()' for char in password):
        return False
    else:
        return True

In [30]:
print(is_strong("Sangam@123"))
print(is_strong("Sangam123"))

True
False

In [31]:
def cost_of_cart(cart):
    total=0
    for item in cart:
        total += item['price']*item['quantity']

    return total

cart = [{'name': "apple", 'price': 5, 'quantity': 2},
        {'name': "banana", 'price': 3, 'quantity': 1},
        {'name': "orange", 'price': 2, 'quantity': 3}]
print(cost_of_cart(cart))

19

In [32]:
addition = lambda a,b : a+b
addition(2,3)

5

In [33]:
odd = lambda a : a%2 != 0
odd(3)

True

In [34]:
numbers = [1,2,3,4,5,6,7,8,9,10]
##map[function,iterable]
list(map(lambda a : a**2, numbers))

TypeError: 'list' object is not callable

In [ ]:
ans = list(filter(lambda x : x>5 and x%2==0, numbers))
ans

[6, 8, 10]

In [43]:
people = [{'name' : "sangam", "age" : 22},
          {'name' : "san", "age" : 23},
          {'name' : "snag", "age" : 30},
          {'name' : "sa", "age" : 25}]

def age2(person):
    return person['age'] > 22

In [36]:
import math
math.sqrt(16)

4.0

In [37]:
from math import sqrt,pi,pow
print(pow(4,5))

1024.0

pip install -r requirements.txt

In [38]:
from package.maths import *
print(addition(2,3))
print(subtraction(3,2))

5
1

In [39]:
import os
print(os.getcwd())
os.mkdir("pc")

c:\Users\sanga\Desktop\Machine-Learning-and-Deep-Learning-\1.Python Basics

In [40]:
import json
data = [{'name' : "sangam", 'age' : 22},
        {'name' : "kk", "age" : 23},]

print(data)
print()

json_str = json.dumps(data)
print(json_str)
print(type(json_str))
print()


parsed_data = json.loads(json_str)
print(parsed_data)
print(type(parsed_data))

[{'name': 'sangam', 'age': 22}, {'name': 'kk', 'age': 23}]

[{"name": "sangam", "age": 22}, {"name": "kk", "age": 23}]
<class 'str'>

[{'name': 'sangam', 'age': 22}, {'name': 'kk', 'age': 23}]
<class 'list'>

In [41]:
import csv

with open('data.csv', mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['name', 'age'])
    writer.writerow(['Sangam',25])

with open('data.csv', mode='r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['Sangam', '25']